.date{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.date{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.date input{
    width:200px;
    padding:1rem 2rem;
    border:1px solid rgba(255, 217, 0, 0.6);
    border-radius:30px;
}
.date input:focus{
    outline: none;
    border:1px solid rgba(255, 217, 0, 1);
}