.event-details-container{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.event-details-container{
    grid-template-columns: 350px auto;
    column-gap:1rem;
    margin: auto;
    margin-top:6rem;
    margin-bottom: 4rem;
    width:95vw;
    max-width:1000px;
}
.event-details-poster{
    width:100%;
    height:auto;
}
.event-details{
    align-self: center;
}
.event-details p{
    margin-bottom: 2rem;
    font-size:1.2rem;
}