.images{
    position:relative;
}
.images span{
    position:absolute;
    top:3px;
    right:3px;
    display:block;
    /* background-color:white; */
    /* border:1px solid rgb(210, 210, 210); */
    background-color:rgb(30, 30, 30);
    padding:0.2rem 0.29rem;
    border-radius:5px;
    z-index:2;
}
.image{
    /* width:280px; */
    /* height:280px; */
    width: 100%;
    height: auto;
    border-bottom:1px solid rgb(210, 210, 210);
}
.imageMosaic{
    /* width:280px; */
    /* width:100%;
    height:auto; */
}
.imageMosaic img{
    width:100%;
    height:auto;
}
.image img{
    width:100%;
    height:100%;
    object-fit:cover;
}