.upcoming-events-container{
    margin-top:4rem;
}
.upcoming-events-container section:not(:first-of-type){
    margin-top:1rem;
}
.events{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.events{
    grid-template-columns: repeat(3, 1fr);
    column-gap:1rem;
    row-gap:1rem;
    width:95vw;
    max-width:1000px;
}
@media (max-width:870px){
    .events{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 560px){
    .events{
        grid-template-columns: auto;
    }
}
.events-date{
    padding-left:1rem;
    margin:4rem 0rem 2rem 0rem;
    margin-left:3rem;
    border-left:2px solid goldenrod;
}
.upload-upcoming-event{
    padding:1rem;
    font-size:1.1rem;
    background-color: #007bff;
    color: white;
    border:none;
    box-shadow:2px 2px 4px rgb(120, 120, 120);
    margin-left: auto;
    display: block;
}
.upload-upcoming-event:hover{
    cursor:pointer;
    background-color: #0065d1;
}
.underline{
    margin:1rem auto;
    height:3px;
    width:60px;
    background-color: gold;
}