.tile-container{
    border:1px solid rgb(210, 210, 210);
    /* width: 280px; */
    width:100%;
    border-radius:5px;
    margin:0.5rem;
    box-shadow:2px 2px 3px rgb(210, 210, 210);
    background-color:white;
    height: max-content;
}
.tile-details-container > div:first-of-type{
    width:100%;
}
.tile-details-price{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0rem 0.5rem;
}